

//Colourful Tape
// :root {
//     --mainColor: red;
//   }
// .tapYellow{
//     background:
//      linear-gradient(
//        to bottom, var(--mainColor) 0%,
//        var(--mainColor) 100%
//      );
     
//     background-position: 0 100%;
//     background-repeat: repeat-x;
//     background-size: 4px 4px;
//     text-decoration: none;
//     transition: background-size .2s ease-in;
    
// }
// .tapYellow:hover{
//     background-size: 4px 50px;
//     color: #fff;
//     text-decoration: none;
    
// }


/* mobile */

.card-content h2{
    padding-bottom: 3rem;
    padding-top: 10rem;
    letter-spacing: 3px;
}
.card-content{
    margin: auto;
    width:100%;
    box-sizing: border-box;
    padding: 5rem 0;
    
}
.section-card{
    position: relative;
    z-index: 0;
}
.card-content .deco-4{
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 160px;
    height: 231px;
    background-image: url('../images/deco-4.svg');
    background-repeat: no-repeat;
}
.section-card .card-content h2{
    padding-bottom: 8rem;
}
.section-card .card-content h3{
    line-height: 1.5;
}



/* hover tap icon  */

.img{
    display: none;
}
.img.show {
    display: block;
}
/* yellow tap  */
.tapYellow{
    cursor: pointer;
    position: relative;
    z-index: 0;
    color: #263C95;
}
.tapYellow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 12rem;
    top: -75%;
    left: -8%;
    z-index: -1;
    background-image: url('../images/tapeY.png');
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition: .2s ease-in;
    z-index: -1;
    
}
.tapYellow::before:hover{
    transform: rotate(60deg);
    -webkit-animation:spin 500ms linear;
    -moz-animation:spin 500ms linear;
    animation:spin 500ms linear;
}
.section-value,
#notTooBig{
    padding: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.section-value .card-content{
    z-index: 0;
}
.section-value .card-content h2{
    padding: 0;
}
#how{
    background-image: url(../images/drop.svg);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#notTooBig{
    color: #263C95;
}
#notTooBig .img-container{
    width: 30%;
}
#notTooBig .card-content{
    z-index: 0;
}
#notTooBig .img-container{
    width: 80%;
}
#notTooBig .card-content h2{
    padding: 5rem 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
    #notTooBig .img-container{
        width: 50%;
    }
    
    
}

/* Desktop */
@media all and (min-width: 1201px) {
    .section-card .card-content h3{
        width: 80%;
    }
    .card-content{
        width:90%;
        padding: 0;
    }
    #notTooBig .img-container{
        width: 30%;
    }
    
}

  

