@charset "UTF-8";
@font-face {
  src: url("../fonts/Gotham-Ultra.otf");
  font-family: 'Gotham-Ultra';
  font-style: normal;
  font-weight: 100;
}

@font-face {
  src: url("../fonts/Gotham-Black.otf");
  font-family: 'Gotham-Black';
  font-style: normal;
  font-weight: 100;
}

@font-face {
  src: url("../fonts/Gotham-Medium.otf");
  font-family: 'Gotham-Medium';
  font-style: normal;
  font-weight: 100;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Muli", sans-serif, Arial, Helvetica;
  color: #fff;
  font-size: 2.5rem;
}

h1, h2 {
  font-family: Gotham-Ultra;
}

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 10rem;
  font-family: Gotham-Black;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.25rem;
  font-weight: 600;
}

h5 {
  font-size: 2.8rem;
}

h6 {
  font-size: 1.5625rem;
  font-weight: 600;
}

p {
  font-size: 2.5rem;
}

li {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.card-content h2 {
  font-size: 10rem;
}

#fourValues h2 {
  font-size: 8rem;
}

#notTooBig h2,
#wholeTeam h2 {
  font-size: 6rem;
}

/*-------------------------------*/
/*           section             */
/*-------------------------------*/
#wrapper section {
  height: 100%;
  width: 100%;
}

#wrapper .section-card {
  height: 120rem;
}

#wrapper .section-intro {
  height: 100%;
}

#wrapper #services {
  height: 100%;
  padding-bottom: 10rem;
}

#wrapper #wholeTeam {
  height: 66rem;
}

#wrapper .section-career {
  height: 100%;
}

.blue {
  background-color: #233E97;
}

.orange {
  background-color: #F16522;
}

.white {
  background-color: #F2F0F7;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
  h1 {
    font-size: 17rem;
  }
  h2 {
    font-size: 12rem;
  }
  h3 {
    font-size: 6rem;
  }
  .card-content h2 {
    font-size: 5.5rem;
  }
  #wrapper section {
    height: 100%；;
  }
  #wrapper #services {
    height: 100%;
    padding-bottom: 10rem;
  }
  #wrapper .section-card {
    height: 140rem;
  }
  #wrapper #wholeTeam {
    height: 100rem;
  }
  #wrapper .section-value {
    height: 100vh;
  }
  .card-content h2 {
    font-size: 16rem;
  }
  #fourValues h2 {
    font-size: 12rem;
  }
  #notTooBig h2,
  #wholeTeam h2 {
    font-size: 9rem;
  }
}

/* Desktop */
@media all and (min-width: 1201px) {
  h1 {
    font-size: 16rem;
  }
  h2 {
    font-size: 15rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 2.25rem;
    font-weight: 600;
  }
  h5 {
    font-size: 2.8rem;
  }
  h6 {
    font-size: 1.5625rem;
    font-weight: 600;
  }
  .card-content h2 {
    font-size: 12.5rem;
  }
  #fourValues h2 {
    font-size: 12rem;
  }
  #notTooBig h2,
  #wholeTeam h2 {
    font-size: 11rem;
  }
  #wrapper section {
    height: 100%;
  }
  #wrapper .section-card {
    height: 1000px;
  }
  #wrapper #notTooBig {
    height: 100vh;
  }
  #wrapper #wholeTeam {
    height: 90rem;
  }
  #wrapper .section-value {
    height: 100vh;
  }
}

/* Large Desktop */
@media all and (max-width: 1500px) and (min-width: 1201px) {
  .sub-header {
    font-size: 9rem;
  }
}

/* Extra Large Desktop */
@media all and (min-width: 1501px) {
  .sub-header {
    font-size: 11rem;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 40%;
  }
}

/* mobile */
.intro-wrapper .mars-container {
  height: 100vh;
}

.intro-wrapper {
  text-align: left;
  padding: 0rem 0rem;
  padding-top: 30vh;
  z-index: 1;
}

img {
  width: 100%;
  height: 100%;
}

.mars-container .jupiter {
  position: absolute;
  right: 0;
  top: 0%;
  z-index: 1;
  height: 10rem;
  width: 10rem;
  background-image: url(../images/jupiter.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.mars-container .astro {
  position: absolute;
  right: -7%;
  top: 0%;
  z-index: 0;
  background-image: url(../images/mars.svg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mars-container .spaceship {
  position: absolute;
  right: 50%;
  bottom: -73%;
  z-index: 2;
  background-image: url(../images/spaceship.svg);
  height: 100%;
  width: 7rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

.intro-wrapper .mars-container {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/* Tablet */
/* Desktop */
/*-------------------------------*/
/*           navbar              */
/*-------------------------------*/
.nav-contianer {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #233e97;
}

#logo {
  margin-left: 5vw;
  margin-top: 1rem;
  width: 60px;
  height: 60px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  background-color: #F16522;
}

.nav-links .nav-item a {
  font-family: Gotham-Ultra;
  color: #233E97;
  font-size: 9rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links .nav-item a:hover {
  color: #ffffff;
}

.landing {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing h1 {
  margin: 100px;
  font-size: 50px;
  color: #F5BF5D;
}

/*-------------------------------*/
/*         navbar -mobile        */
/*-------------------------------*/
.line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 5px;
}

/* Icon 3 */
.hamburger {
  width: 30px;
  height: 45px;
  top: 35%;
  right: 5%;
  z-index: 2;
  transform: translate(5%, -50%);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-links {
  padding: 150px 0;
  position: fixed;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  clip-path: circle(10px at 90% -10%);
  -webkit-clip-path: circle(10px at 90% -10%);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  pointer-events: none;
}

.nav-links.open {
  clip-path: circle(3000px at 90% -10%);
  -webkit-clip-path: circle(3000px at 90% -10%);
  pointer-events: all;
}

nav .nav-item {
  opacity: 0;
}

.landing {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .open .nav-item {
  opacity: 1;
  -webkit-transition: all 0.5 ease 0.6s;
  transition: all 0.5 ease 0.6s;
}

#logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
  #logo {
    margin-left: 5vw;
    margin-top: 2rem;
    width: 65px;
    height: 65px;
  }
}

/* Desktop */
@media all and (min-width: 1201px) {
  #logo {
    margin-left: 4vw;
    width: 121px;
    height: 65px;
  }
}

/* mobile */
.card-content h2 {
  padding-bottom: 3rem;
  padding-top: 10rem;
  letter-spacing: 3px;
}

.card-content {
  margin: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5rem 0;
}

.section-card {
  position: relative;
  z-index: 0;
}

.card-content .deco-4 {
  position: absolute;
  bottom: 10%;
  right: 0;
  width: 160px;
  height: 231px;
  background-image: url("../images/deco-4.svg");
  background-repeat: no-repeat;
}

.section-card .card-content h2 {
  padding-bottom: 8rem;
}

.section-card .card-content h3 {
  line-height: 1.5;
}

/* hover tap icon  */
.img {
  display: none;
}

.img.show {
  display: block;
}

/* yellow tap  */
.tapYellow {
  cursor: pointer;
  position: relative;
  z-index: 0;
  color: #263C95;
}

.tapYellow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12rem;
  top: -75%;
  left: -8%;
  z-index: -1;
  background-image: url("../images/tapeY.png");
  background-repeat: no-repeat;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  z-index: -1;
}

.tapYellow::before:hover {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation: spin 500ms linear;
  animation: spin 500ms linear;
}

.section-value,
#notTooBig {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-value .card-content {
  z-index: 0;
}

.section-value .card-content h2 {
  padding: 0;
}

#how {
  background-image: url(../images/drop.svg);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#notTooBig {
  color: #263C95;
}

#notTooBig .img-container {
  width: 30%;
}

#notTooBig .card-content {
  z-index: 0;
}

#notTooBig .img-container {
  width: 80%;
}

#notTooBig .card-content h2 {
  padding: 5rem 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
  #notTooBig .img-container {
    width: 50%;
  }
}

/* Desktop */
@media all and (min-width: 1201px) {
  .section-card .card-content h3 {
    width: 80%;
  }
  .card-content {
    width: 90%;
    padding: 0;
  }
  #notTooBig .img-container {
    width: 30%;
  }
}

.section-career {
  color: #233E97;
  text-align: center;
}

#wrapper .section-career {
  padding: 3rem 0;
}

.section-career .card-content .career-logo {
  padding-top: 10rem;
  width: 50rem;
  height: 50rem;
  margin: 0 auto;
}

.section-career .card-content p {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-career .card-content .job-list {
  font-size: 2.25rem;
  font-family: Gotham-Medium;
  text-align: left;
  padding-bottom: 5rem;
}

/* toggle collapes style */
#job-list {
  padding: 3rem 0rem;
  margin: 0;
  font-size: 5rem;
  background-color: #F2F0F7;
  border: none;
}

#job-list .card {
  border: none;
}

#job-list .card-header {
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem 0;
}

#job-list .btn-link {
  font-size: 2.25rem;
  text-decoration: none;
  color: #233E97;
}

#job-list .card-body {
  font-size: 2rem;
  font-weight: 200;
  padding: 4rem;
}

#job-list .btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#job-list .jobbox {
  border-bottom: 1px solid #212E60;
  position: relative;
  z-index: 0;
  background-color: #f2f0f6;
}

#job-list .jobbox .card-header::after {
  content: "";
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 15px;
  right: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  cursor: pointer;
  z-index: -1;
  display: block;
}

#job-list .jobbox .collapsed::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#plus_icon {
  -webkit-transition: 1s;
  transition: 1s;
}

.circle {
  position: absolute;
  height: 50px;
  width: 50px;
  display: inline-block;
  cursor: pointer;
}

.plus {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 15px;
  display: inline-block;
}

.plus .up {
  position: absolute;
  width: 3px;
  height: 20px;
  background: #5AE075;
  display: inline-block;
  -webkit-transform: translateX(8.5px);
          transform: translateX(8.5px);
}

.plus .side {
  position: absolute;
  width: 3px;
  height: 20px;
  background: #5AE075;
  display: inline-block;
  -webkit-transform: translateX(8.5px) rotate(90deg);
          transform: translateX(8.5px) rotate(90deg);
}

.check .up {
  position: absolute;
  width: 3px;
  height: 20px;
  background: #5AE075;
  display: inline-block;
  -webkit-transform: translateX(8.5px) rotate(45deg);
          transform: translateX(8.5px) rotate(45deg);
}

.check .side {
  position: absolute;
  width: 3px;
  height: 10px;
  background: #5AE075;
  display: inline-block;
  -webkit-transform: translateY(8.5px) rotate(-45deg);
          transform: translateY(8.5px) rotate(-45deg);
}

#plus_icon.animate {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.section-career .send-cv p {
  font-size: 1.85rem;
}

.section-career .send-cv h2 {
  font-size: 4.85rem;
  font-family: Gotham-Black;
}

.send-cv .explore-logo {
  width: 70vw;
  height: auto;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.custom-btn {
  font-size: 2.5rem;
  width: 30rem;
  height: 7rem;
  border-radius: 15px;
  margin: 7rem;
  color: #EF6624;
  font-weight: 600;
}

.custom-btn:hover {
  background-color: #EF6624;
  color: #fff;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
  #job-list .jobbox .card-header::after {
    top: 16px;
  }
  .section-career .send-cv p {
    font-size: 2.85rem;
  }
  .section-career .send-cv h2 {
    font-size: 6.85rem;
  }
}

/* Desktop */
@media all and (min-width: 1201px) {
  #job-list .jobbox .card-header::after {
    top: 36px;
  }
  .section-career .send-cv h2 {
    font-size: 7.25rem;
  }
  .send-cv .btn {
    font-size: 2rem;
    width: 18vw;
    height: 9vh;
    margin: 5rem;
    font-weight: 600;
  }
  .send-cv .explore-logo {
    width: 569px;
    height: 300px;
  }
}

/* Mobile */
.fourValues {
  padding: 5rem;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
  .fourValues {
    padding: 5rem;
  }
}

/* Mobile */
.section-services {
  position: relative;
  z-index: 0;
}

.section-services .action {
  color: #fff;
  font-family: Gotham-Medium;
  font-size: 1.875rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -1px;
  text-align: center;
  width: 28rem;
  height: 14rem;
  text-decoration: none;
}

.section-services .action::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  background-image: url(../images/getintouch.svg);
  height: 100%;
  width: 100%;
  left: 0%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Dynamic Tabs*/
#servicesTab .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #F16522;
  border-radius: 0.8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#servicesTab .nav-link:hover {
  background-color: #FDEB95;
  border-radius: 0.8rem;
}

#servicesTab .nav-link {
  font-size: 1.8rem;
  line-height: 1.2;
  padding: 1rem 2rem;
  font-family: "GOTHAM Medium", Arial, Helvetica, sans-serif;
}

#servicesTab #animation ul li {
  list-style-type: disc;
}

#servicesTab #animation ul {
  padding-left: 2rem;
  padding-top: 1rem;
}

#servicesTab .nav-item {
  padding: 0rem 1rem;
  text-align: center;
  line-height: 1.2;
}

/* Animation Prototype */
#servicesTab .container {
  max-width: 80%;
}

#animation .slide-header {
  font-size: 5rem;
  font-family: "GOTHAM black", Arial, Helvetica, sans-serif;
  color: #71CFD8;
  padding-bottom: 3rem;
}

#animation .slide-text,
#animation li {
  font-family: "Muli regular", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2;
  color: #71CFD8;
}

#animation .slide-contianer {
  margin: auto;
}

#fourAnim {
  width: 100%;
  height: 100%;
  display: block;
}

#animation #oneAnim,
#animation #twoAnim,
#animation #threeAnim,
#animation #fourAnim,
#animation #fiveAnim,
#animation #sixAnim {
  width: 130%;
  height: 110%;
  min-width: 650px;
  max-width: 900px;
  padding-right: 15rem;
}

#servicesTab .nav-pills {
  padding-top: 3rem;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
  .section-services #customCarousel {
    height: 30rem;
  }
  .section-services .action {
    width: 51rem;
    height: 26rem;
  }
  #wholeTeam .sub-header {
    padding-top: 20rem;
  }
  #animation .slide-right {
    margin-top: 10rem;
  }
}

/* Desktop */
@media all and (min-width: 1201px) {
  .section-services .action {
    width: 46rem;
    height: 23rem;
  }
  #animation .slide-right {
    margin-top: 20rem;
  }
  #wholeTeam .sub-header {
    padding-top: 20rem;
  }
}

/* Mobile */
#contact {
  position: relative;
  z-index: 0;
}

.section-contact {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  font-size: 26px;
  font-family: Gotham-Medium;
  width: 100%;
  height: 60px;
  position: relative;
  text-align: left;
  color: #fff;
  overflow: hidden;
  margin: 0;
}

.form input,
.form textarea {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: transparent;
  padding-top: 20px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.form label::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#messageInput textarea {
  color: #fff;
  position: relative;
  height: 100px;
  padding: 10px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 2rem;
}

#messageInput textarea::after {
  content: '';
  left: -2px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid red;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#messageInput {
  position: relative;
}

#messageInput label {
  font-size: 26px;
  font-family: Gotham-Medium;
  position: absolute;
  top: 10px;
  left: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#messageInput textarea:focus ~ label,
#messageInput textarea:valid ~ label {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.form-container {
  display: inline-block;
  width: 100%;
}

#messageInput, #nameInput, #emailInput {
  margin-top: 5rem;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#contact .custom-btn {
  color: #EF6624;
}

#wrapper #contact {
  height: 100%;
}

#contact .company-info .row {
  padding: 5rem 0;
  margin: 0;
}

#contact .company-info {
  padding: 10rem 0;
}

#contact .company-info::after {
  content: "";
  max-width: 100%;
  width: 100%;
  height: 75rem;
  background-image: url(../images/footer-bkg.svg);
  position: absolute;
  z-index: -3;
  bottom: 0;
  left: 0%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact .company-info .small {
  opacity: 0.6;
  font-family: "Muli", sans-serif, Arial, Helvetica;
  font-size: 2rem;
}

#contact .company-info .logo-hor {
  background-image: url(../images/logo-hor.svg);
  height: 56px;
  width: 231px;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
  #contact .company-info {
    text-align: left;
  }
  #contact .company-info::after {
    bottom: -8%;
  }
}

/* Desktop */
@media all and (min-width: 1201px) {
  #contact .company-info {
    text-align: left;
    padding: 20rem 0;
  }
  #contact .company-info::after {
    height: 90rem;
    bottom: 0;
  }
  #inputName #nameInput {
    margin-right: 2rem;
  }
  #inputName #emailInput {
    margin-left: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */