
/* mobile */

.card-content h2{
    padding-bottom: 3rem;
    padding-top: 10rem;
    letter-spacing: 3px;
}
.card-content{
    margin: auto;
    width:100%;
    box-sizing: border-box;
    padding: 5rem 0;
    
}
.section-card{
    position: relative;
    z-index: 0;
}
.card-content .deco-4{
    position: absolute;
    z-index: -1;
    bottom: 10%;
    right: 0;
    width: 160px;
    height: 300px;
    background-image: url('../images/deco-4.svg');
    background-repeat: no-repeat;
}
.section-card .card-content h2{
    padding-bottom: 8rem;
}
.section-card .card-content h3{
    line-height: 1.5;
}
//text icon
.icon-square{
    width: 29px;
    height: 25px;
}
.icon-wave {
    width: 49px;
    height: 18px;
}
.icon-hill{
    width: 47px;
    height: 20px;
}


/* hover tap icon  */
.hover-me{
    position:relative;
    z-index: 0;
}
.tapR,
.tapRG{
    position:absolute;
    left: -11%;
    top: -63%;
    width: 279px;
    height: 70px;
    z-index: -1;
}
.tapYP,
.tapY{
    position:absolute;
    left: -12%;
    top: -68%;
    width: 217px;
    height: 86px;
    z-index: -1;
}
.tapY2,
.tapY2P{
    position:absolute;
    left: -8%;
    top: -71%;
    width: 241px;
    height: 86px;
    z-index: -1;   
}
.tapBY,
.tapB{
    position:absolute;
    left: -12%;
    top: -43%;
    width: 115px;
    height: 56px;
    z-index: -1;
}
.tapY,
.tapY2,
.tapR,
.tapB{
    display: block;
}
.tapYP,
.tapY2P,
.tapRG,
.tapBY{
    display: none;
}
.hover-me:hover .tapY2,
.hover-me:hover .tapY,
.hover-me:hover .tapB,
.hover-me:hover .tapR{
    display: none;
}
.hover-me:hover .tapY2P,
.hover-me:hover .tapYP,
.hover-me:hover .tapBY,
.hover-me:hover .tapRG{
    display: block;
}

#hoverY{
    color: #263C95;
}
#hoverR,
#hoverB{
    color: #FDF400;
}
#hoverY{
    color: #EA048A;
}
#hoverY:hover{
    color: #FDF400;
}
#hoverB:hover{
    color: #EA048A;
}
#hoverR:hover,
#hoverY2:hover{
    color: #263C95;
}
#wrapper #notTooBig{
    height: 90vh;
}
.section-value,
#notTooBig{
    padding: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
}
.section-value .card-content{
    z-index: 0;
}
.section-value .card-content h2{
    padding: 0;
}

// .bg-active{
//     background-color:#F16522;
//     opacity: 1;
// }

#notTooBig{
    color: #263C95;
}
#notTooBig .img-container{
    width: 30%;
}
#notTooBig .card-content{
    z-index: 0;
}
#notTooBig .img-container{
    width: 80%;
}
#notTooBig .card-content h2{
    padding: 5rem 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
@media all and (max-width: 362px)  {
    .tapY,
    .tapYP{
        left: -11%;
        top: -25%;
        width: 100px;
        height: 74px;
    }

}
@media all and (max-width: 395px)  {
    .tapY2,
    .tapY2P{
        left: -11%;
        top: -25%;
        width: 100px;
        height: 74px;
    }

}
@media all and (max-width: 390px)  {
    .tapR,
    .tapRG{
        left: -11%;
        top: -25%;
        width: 143px;
        height: 74px;
    }

}
@media all and (max-width: 390px) and (min-width: 411px) {
    .tapY,
    .tapYP{
        left: -12%;
        top: -35%;
        width: 135px;
        height: 86px;
    }

}
@media all and (max-width: 435px) and (min-width: 424px) {
    .tapY2,
    .tapY2P{
        left: -12%;
        top: -31%;
        width: 100px;
        height: 86px;
    }

}
@media all and (max-width: 455px) and (min-width: 404px) {
    .tapY,
    .tapYP{
        left: -11%;
        top: -25%;
        width: 130px;
        height: 78px;
    }
}
@media all and (max-width: 533px) and (min-width: 491px) {
    .tapY2,
    .tapY2P{
        left: -12%;
        top: -31%;
        width: 157px;
        height: 86px;
    }

}
@media all and (max-width: 544px) and (min-width: 501px) {
    .tapR,
    .tapRG{
        left: -10%;
        top: -74%;
        width: 91px;
        height: 80px;
    }
}
@media all and (max-width: 559px) and (min-width: 554px) {
    .tapY,
    .tapYP{
        left: -11%;
        top: -25%;
        width: 130px;
        height: 78px;
    }

}
@media all and (max-width: 653px) and (min-width: 600px) {
    .tapY2,
    .tapY2P{
        left: -12%;
        top: -31%;
        width: 121px;
        height: 86px;
    }

 }
/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
    .section-card .card-content h3{
        width: 90%;
    }
    #wrapper #notTooBig{
        height: 130rem;
    }
    #notTooBig .img-container{
        width: 50%;
    }
    .icon-square{
        width: 39px;
        height: 49px;
    }
    .icon-wave{
        width: 82px;
        height: 32px;
    }
    .icon-hill{
        width: 72px;
        height: 32px;
    }
    .tapR,
    .tapRG{
        left: -13%;
        top: -86%;
        width: 371px;
        height: 100px;
    }
    .tapY,
    .tapYP{
        left: -12%;
        top: -50%;
        width: 314px;
        height: 91px;
    }
    .tapB,
    .tapBY{
        left: -12%;
        top: -38%;
        width: 158px;
        height: 66px;
    }
    .tapY2,
    .tapY2P{
        left: -14%;
        top: -56%;
        width: 319px;
        height: 95px;
    }
    #drop-desktop{
        display: block;
    }
    #howAnim{
        top: 20%;
    }
    
}
@media all and (max-width: 757px) and (min-width: 701px) {
    .tapR,
    .tapRG{
        left: -10%;
        top: -36%;
        width: 104px;
        height: 80px;
    }
}
@media all and (max-width: 746px) and (min-width: 700px) {
    .tapY2,
    .tapY2P{
        left: -12%;
        top: -31%;
        width: 157px;
        height: 86px;
    }

}
@media all and (max-width: 911px) and (min-width: 839px) {
    .tapY2,
    .tapY2P{
        left: -12%;
        top: -31%;
        width: 157px;
        height: 86px;
    }

}
@media all and (max-width: 1101px) and (min-width: 1078px) {
    .tapY2,
    .tapY2P{
        left: -12%;
        top: -31%;
        width: 157px;
        height: 86px;
    }
}
@media all and (max-width: 1200px) and (min-width: 1103px) {
    .tapY,
    .tapYP{
        left: -11%;
        top: -25%;
        width: 158px;
        height: 101px;
    }
}
/* Desktop */
@media all and (min-width: 1201px) {
    .section-card .card-content h3{
        width: 80%;
    }
    .card-content{
        width:90%;
        padding: 0;
    }
    #wrapper #notTooBig{
        height: 100rem;
    }
    #notTooBig .img-container{
        width: 30%;
    }
    .icon-square{
        width: 39px;
        height: 49px;
    }
    .icon-wave{
        width: 82px;
        height: 32px;
    }
    .icon-hill{
        width: 72px;
        height: 32px;
    }
    .tapR,
    .tapRG{
        left: -12%;
        top: -37%;
        width: 500px;
        height: 100px;
    }
    .tapY,
    .tapYP{
        left: -12%;
        top: -37%;
        width: 431px;
        height: 100px;
    }
    .tapY2,
    .tapY2P{
        left: -10%;
        top: -49%;
        width: 437px;
        height: 122px;
    }
    .tapBY,
    .tapB{
        left: -12%;
        top: -38%;
        width: 217px;
        height: 86px;
    }
    #howAnim{
        top: 20%;
    }
    #drop-desktop{
        display: block;
    }
}
@media all and (max-width: 1226px) and (min-width: 1201px) {
    .tapY2,
    .tapY2P{
        left: -26%;
        top: -20%;
        width: 287px;
        height: 115px;
    }
    
}
@media all and (max-width: 1264px) and (min-width: 1201px) {
    .tapR,
    .tapRG{
        left: 1%;
        top: -36%;
        width: 340px;
        height: 123px;
    }
    
}
@media all and (max-width: 1519px) and (min-width: 1386px) {
    .tapY2,
    .tapY2P{
        left: -26%;
        top: -20%;
        width: 251px;
        height: 115px;
    }
    
}
// @media all and (max-width: 1406px) and (min-width: 1385px) {
//     .tapY,
//     .tapY2P{
//         left: -19%;
//         top: -25%;
//         width: 234px;
//         height: 123px;
//     }
    
// }