.section-career{
    color: #233E97; 
    text-align: center;
}
#wrapper .section-career{
    padding: 3rem 0;
}
.section-career .card-content .career-logo{
    padding-top: 10rem;
    width: 50rem;
    height: 50rem;
    margin: 0 auto;
}
.section-career .card-content p{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.section-career .card-content .job-list{
    font-size: 2.25rem;
    font-family: Gotham-Medium;
    text-align: left;
    padding-bottom: 5rem;
}
/* toggle collapes style */
#job-list {
    padding: 3rem 0rem;
    margin: 0;
    font-size: 5rem;
    background-color: #F2F0F7;
    border: none;
}
#job-list .card{
    border: none;
}
#job-list .card-header{
    background-color: rgba(0,0,0,0);
    padding: 2rem 0;
}
#job-list .btn-link {
    font-size: 2.25rem;
    text-decoration: none;
    color: #233E97;
}
#job-list .card-body{
    font-size: 2rem;
    font-weight: 200;
    padding: 4rem;
}
#job-list .btn.focus, .btn:focus {
    box-shadow:none;
}
#job-list .jobbox{
    border-bottom: 1px solid #212E60 ;
    position: relative;
    z-index: 0;
    background-color: #f2f0f6;
}
#job-list .jobbox .card-header::after{
    content: "";
    background-image: url(../images/plus.svg) ;
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 15px;
    right: 0;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: -1;
    display: block;
}
#job-list .jobbox .collapsed::after{
    transform: rotate(45deg);
}
// Plus icon collapes animation
#plus_icon {
    transition: 1s;
  }
  
  .circle {
    position: absolute;
    height: 50px;
    width: 50px;
    display: inline-block;
    cursor: pointer;
  }
  
  .plus {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 15px;
    display: inline-block;
  }
  
  .plus .up {
    position: absolute;
    width: 3px;
    height: 20px;
    background: #5AE075;
    display: inline-block;
    transform: translateX(8.5px);
  }
  
  .plus .side {
    position: absolute;
    width: 3px;
    height: 20px;
    background: #5AE075;
    display: inline-block;
    transform: translateX(8.5px) rotate(90deg);
  }
  
  .check .up {
    position: absolute;
    width: 3px;
    height: 20px;
    background: #5AE075;
    display: inline-block;
    transform: translateX(8.5px) rotate(45deg);
  }
  
  .check .side {
    position: absolute;
    width: 3px;
    height: 10px;
    background: #5AE075;
    display: inline-block;
    transform: translateY(8.5px) rotate(-45deg);
  }
  #plus_icon.animate {
    transform: rotate(135deg);
  }
  
  
  

.section-career .send-cv p{
    font-size: 1.85rem;
}
.section-career .send-cv h2{
    font-size: 4.85rem;
    font-family: Gotham-Black;
}
.send-cv .explore-logo{
    width: 70vw;
    height: auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    
}
.custom-btn{
    font-size: 2.5rem;
    width: 30rem;
    height: 7rem;
    border-radius: 15px;
    margin: 7rem;
    color: #EF6624;
    font-weight: 600;
}

.custom-btn:hover{
    background-color:#EF6624;
    color: #fff;
}

/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
    #job-list .jobbox .card-header::after{
        top: 16px;
    }
    .section-career .send-cv p{
        font-size: 2.85rem;
    }
    .section-career .send-cv h2{
        font-size: 6.85rem;
    }
}

/* Desktop */
@media all and (min-width: 1201px) {
    #job-list .jobbox .card-header::after{
        top: 36px;
    }
    .section-career .send-cv h2{
        font-size: 7.25rem;
    }
    .send-cv .btn{
        font-size: 2rem;
        width: 18vw;
        height: 9vh;
        margin: 5rem;
        font-weight: 600;
    }
    .send-cv .explore-logo{
        width: 569px;
        height: 300px;
        
    }
}
