
/* mobile */
.intro-wrapper .mars-container{
    height: 800px;
}
.intro-wrapper{
    text-align: left;
    padding: 0rem 0rem;
    padding-top: 30vh;
    z-index: 1;
}
.mars-container{
    display: block;
    height: 550px;
}
.intro-video{
    display: none;
}
img{
    width: 100%;
    height: 100%;
}
.mars-container .jupiter{
    position: absolute;
    right: 0;
    top: 0%;
    z-index: 1;
    height: 10rem;
    width: 10rem;
    background-image: url(../images/jupiter.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.mars-container .astro{
    position: absolute;
    right: -7%;
    top: 0%;
    z-index: 0;
    background-image: url(../images/mars.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.mars-container .spaceship{
    position: absolute;
    right: 43%;
    bottom: -75%;
    z-index: 2;
    background-image: url(../images/spaceship.svg);
    height: 100%;
    width: 7rem;
    background-repeat: no-repeat;
    background-size: 100%;
}
.intro-wrapper .mars-container{
    position: relative;
    overflow: hidden;
    z-index: 0;
}


/* Tablet */
@media all and (max-width: 1200px) and (min-width: 700px) {
    .mars-container{
        display: none;
    }
    .intro-video{
        display: block;
    }
}

/* Desktop */
@media all and (min-width: 1201px) {
    .mars-container{
        display: none;
    }
    .intro-video{
        display: block;
    }
}
